$orangeColor: #ff7900;
$orangeBcgColor: rgba(221,221,221,.9);
$fontMainColor: #1d6157;
$fontLightColor: #fff;
$backgroundMainColor: $orangeBcgColor;
$backgroundStressColor: $orangeColor;
$boxShadowMain: 0 1px 10px #909090;
$boxMainProps: 1px solid #d7e6e6;
$shadowForRow: 2px 2px 15px $orangeColor;